# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.pytest_cache/
.coverage
htmlcov/

# Django
db.sqlite3
media/
staticfiles/

# Node
frontend/node_modules/
frontend/dist/
frontend/playwright-report/
frontend/test-results/

# Env
.env

# Editor / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
